<form method="post" action="{{ path('app_media_delete', {'id': media.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.id) }}">
   <button type="submit" class="absolute bottom-0 right-0"><img src="{{ asset('images/delete.png') }}"></button>
</form>
