<form method="post" action="{{ path('app_tricks_delete', {'name': trick.name}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce tricks?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn">
            <img alt="modifier"  src="{{ asset('images/delete.png') }}" style="max-height: 20px">
    </button>
</form>
