{% extends 'mail/base.html.twig'%}

{% block title %}SnowTricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}
                <h2 class="text-md py-2 font-bold">
                    Salut {{ user.firstname }} !
                </h2>
                <p class="pb-2">Il parait que tu as la mémoire courte ?</p>
                <p>Ne t'inquete pas, ça arrive à tout le monde !</p>

                <p class="mt-10">Pour réinitialiser ton mot de passe, clique sur le bouton ci-dessous.</p>
                <div class=" font-medium px-2 bg-accent rounded-md lg:p-2 w-72 m-auto">
                    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" type="button" class="inline-flex w-full flex-col items-center group text-white">
                        <span class="text-2xl text-background2 ">Réinitialiser mon mot de passe</span>
                    </a>
                </div>
                <p>Par contre dépèche toi de le faire, ce lien n'est valable que {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</p>
{% endblock %}
